body{
      text-align: center;
      background-color: gray;
      color: black;
    }
    
    
#container{
 background-color:gray;color:black; 
  background-color:white;color:black;
      margin:25px;padding:25px;
      border-radius:15px;
}


img{
  width:150px;
}

u1 {
  list-style-type: none;
}

#tictactoe_board{
  
  margin-left:auto;
  margin-right:auto;
  width:350px;
  height:350px
}

.box{
  border-style:solid;
  float:left;
  text-align:center;
  line-height:100px;
  vertical-align:middle;
  height:100px;
  width:100px;
  background-color:skyblue;
}





